<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Shreeya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/shreeya" >Home</a>
        <a class="nav-item nav-link"  *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/todolist" >Todos</a>


      </div>
      <div class="navbar-nav navbar-collapse justify-content-end" >
        <a class="nav-item nav-link" *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login">Login</a>
        <a class="nav-item nav-link" *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" >Logout</a>
      </div>
    </div>
  </nav>
</header>
